<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
  <li><%= link_to 'Meetings', '/#/meetings/' %></li>
  <li><%= link_to 'Teams', '/#/teams/my' %></li>
<% else %>
  <li><%= link_to 'Sign in', "/#/login" %></li>
  <li><%= link_to 'Sign up', "/#/logout" %></li>
<% end %>
